html{
    height: 100%;
}

body{
    height: 100%;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;

}
nav{ 
    position: fixed;
    top: 0;
    text-align: center;
    height: 40px;
    width: 100%;
    background-color: rgb(201, 201, 201);
    z-index: 1;
}

#frame{
    border: 1px solid black;
    padding: 10px;
    color: grey;
    font-style: italic;
    font-size: 14px;
}

#canvas{
    background-color: rgb(243, 125, 21);
    width: 70vmin;
    height: 70vmin;
    position: relative;
}

#first{
    background-color: rgb(237, 90, 31);
    position: absolute;
    width: 40vmin;
    height: 40vmin;
    left: 15vmin;
    top: 20vmin;
}

#second{
    background-color: rgb(231, 66, 29);
    position: absolute;
    width:27vmin;
    height: 27vmin;
    left: 6.5vmin;
    top: 10vmin;
}
